.div{
    height: 120px;
   text-align: left;
    /* width: 100px; */
    /* border: 1px solid red; */
}
.div>img{
    height: 100%;
    margin: auto;
}
.div>h4{
    color: white;
}
/* .div:hover{
    transform: scale(1.5)
} */
.main{
    padding-top: 20px;
    /* background-color: #282c34; */
    padding-bottom: 20px;
    /* margin-bottom: 20px; */
}

@media (max-width: 870px) {

}


@media (max-width: 560px) {

}