.div{
    height: 120px;
    /* width: 100px; */
    /* border: 1px solid red; */
}
.div>img{
    height: 100%;
    margin: auto;
}
/* .div:hover{
    transform: scale(1.5)
} */
.main{
    margin-top: 20px;
    /* background-color: #282c34; */
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 870px) {

}


@media (max-width: 560px) {

}