.email_input,.email_msg{
    width: 70%;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 6px;
    margin-top: 30px;
}
._email_input,._email_msg{
    width: 70%;
    border: 1px solid white;
    padding: 10px;
    border-radius: 6px;
    margin-top: 30px;
}
.email_msg,._email_msg{
    padding-bottom: 50px;
}
.email_btn{
    /* border: 1px solid rgb(55, 51, 51); */
    padding-top: 7px;
    padding-bottom: 7px;
    width: 70%;
    border-radius: 6px;
    background-color: gray;
    color: white;
}
._email_btn{
    /* border: 1px solid rgb(55, 51, 51); */
    padding-top: 7px;
    padding-bottom: 7px;
    width: 70%;
    border-radius: 6px;
    background-color:#293243 ;
    color: white;
    border: 1.5px solid white;
}

.email_btn:hover,._email_btn:hover{
    filter: brightness(130%);
    cursor: pointer;
}
._email_input,._email_msg{
    color: #293243;
}

@media (max-width: 560px) {
    ._email_input,._email_msg{
        width: 95%;
       
    }
    .email_input,.email_msg{
        width: 95%;
       
    }
    .email_btn{
        width: 95%;
    }
    ._email_btn{
        width: 95%;
    }
}